---
import { type CollectionEntry, getCollection } from 'astro:content'
import RecPost from '@/layouts/RecPost'
import Code from '@/components/mdx/Code'
import ShareButtons from '@/components/ShareButtons'
import TableOfContents from '@/components/TableOfContents'
import SButton from '@/components/mdx/SButton'
import Carousel from '@/components/Carousel'

export async function getStaticPaths() {
	const sovety = await getCollection('sovety')
	return sovety
		.filter((s) => !s.data.draft && s.data.status)
		.map((s) => ({
			params: { slug: s.slug },
			props: s
		}))
}
type Props = CollectionEntry<'sovety'>

const sovet = Astro.props
const { Content, headings } = await sovet.render()
---

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@keyframes slide {
		0% { transform: translateX(0); }
		50% { transform: translateX(-100%); }
		100% { transform: translateX(0); }
	}
	.animate-slide { animation: slide 1s infinite; }
</style>

<RecPost id={sovet.id} data={sovet.data} headings={headings} wide={true}>
	<div class='w-full flex flex-row py-auto lg:-ml-6 mt-12 mb-6'>
		<div class=''>
			<ShareButtons
				urlSeo={sovet.id}
				titlePage={sovet.data.title}
				headImg={sovet.data.heroImage}
				descriptionPage={sovet.data.description}
			/>
		</div>
		<div class='my-auto w-54 font-bold text-[24px] hidden md:flex'>
			<div class='flex items-center ml-4'>
				<span class='animate-slide text-2xl'>👈</span>
			</div> поделиться
		</div>
	</div>

	<article class='max-w-full w-full'>
		<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 max-w-none'>
			<Content components={{ pre: Code, SButton, Carousel }} />
		</div>

		<div class='my-12'>
			<ShareButtons
				urlSeo={sovet.id}
				titlePage={sovet.data.title}
				headImg={sovet.data.heroImage}
				descriptionPage={sovet.data.description}
			/>
		</div>
	</article>

	<div slot='sidebar'>
		{headings && headings.length > 0 && (
			<div class='sticky top-24 self-start'>
				<TableOfContents {headings} />
			</div>
		)}
	</div>
</RecPost>
