---
import Hero from '@/components/Hero'
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { getEntry } from 'astro:content'
import headImg from '../assets/images/kalkulyator-samogonshchika.png'
const homepage = await getEntry('calcPages', 'napitki')
const { title, description, titlePage, descriptionPage, urlSeo } = homepage.data

const MAX_POSTS = 18 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title={title} description={description}>
	<Hero headImg={headImg} titlePage={titlePage} descriptionPage={descriptionPage} urlSeo={urlSeo} />

	<div class='my-10 mx-4 2xl:mx-52 2xl:my-24'>
		<ListCategories />
		<div>
			<ListPosts posts={posts} />
		</div>
	</div>
</BaseLayout>
