---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout'
import Hero from '@/components/Hero'
import { ViewTransitions } from 'astro:transitions'
import AbsolyutnijSpirt from '@/calc/AbsolyutnijSpirt.jsx'

type Props = {
	id: CollectionEntry<'calcs'>['id']
	data: CollectionEntry<'calcs'>['data']
}

const { data, id } = Astro.props
const { title, description, heroImage, pretext } = data
---

<BaseLayout title={title} description={description} image={heroImage?.src}>
	<Hero headImg={heroImage} titlePage={title} descriptionPage={description} urlSeo={id} />

	<div class='mx-auto max-w-[680px] py-12 text-lg sm:px-6'>
		{pretext}
	</div>

	<div class='mx-auto max-w-6xl text-lg sm:px-6'>
		<AbsolyutnijSpirt client:load />
		<p>Нужно исправить расчет:</p>
		<ul>
			<li>Vodka</li>
			<li>RazbavleniyaSamogona</li>
			<li>PoslePervoj</li>
			<li>OtborGolov</li>
			<li>DrobnayaPeregonka</li>
			<li>Braga</li>
			<li>AbsolyutnijSpirt</li>
		</ul>
	</div>
	<article class='min-w-ful md:py-4 sm:max-w-none md:max-w-none'>
		<div>
			<slot />
		</div>
	</article>
</BaseLayout>
