---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout'
import Hero from '@/components/Hero'
import { ViewTransitions } from 'astro:transitions'
import AbsolyutnijSpirt from '@/calc/AbsolyutnijSpirt.jsx'
import Braga from '@/calc/Braga.jsx'
import DrobnayaPeregonka from '@/calc/DrobnayaPeregonka.jsx'
import OtborGolov from '@/calc/OtborGolov.jsx'
import PoslePervoj from '@/calc/PoslePervoj.jsx'
import RazbavleniyaSamogona from '@/calc/RazbavleniyaSamogona.jsx'
import SebestoimApprox from '@/calc/SebestoimApprox.jsx'
import Sebestoimost from '@/calc/Sebestoimost.jsx'
import SmeshSpirt from '@/calc/SmeshSpirt.jsx'
import Temperature from '@/calc/Temperature.jsx'
import VodkaCalc from '@/calc/VodkaCalc.jsx'
import Zamena from '@/calc/Zamena.jsx'

type Props = {
	id: CollectionEntry<'calcs'>['id']
	data: CollectionEntry<'calcs'>['data']
}

const { data, id } = Astro.props
const { title, description, heroImage, pretext } = data
---

<BaseLayout title={title} description={description} image={heroImage?.src}>
	<Hero headImg={heroImage} titlePage={title} descriptionPage={description} urlSeo={id} />

	<div class='mx-auto max-w-[680px] py-12 text-lg px-6'>
		{pretext}
	</div>

	<div class='mx-auto w-full max-w-6xl text-lg sm:px-6 px-6'>
		{
			title == 'Калькулятор абсолютного спирта' ? (
				<AbsolyutnijSpirt client:load />
			) : title == 'Калькулятор браги' ? (
				<Braga client:load />
			) : title == 'Калькулятор дробной перегонки спирта-сырца' ? (
				<DrobnayaPeregonka client:load />
			) : title == 'Калькулятор отбор голов' ? (
				<OtborGolov client:load />
			) : title == 'Калькулятор разбавления спирта-сырца (после первого перегона)' ? (
				<PoslePervoj client:load />
			) : title == 'Калькулятор разбавления самогона водой' ? (
				<RazbavleniyaSamogona client:load />
			) : title == 'Калькулятор примерной стоимости самогона' ? (
				<SebestoimApprox client:load />
			) : title == 'Калькулятор себестоимости самогона' ? (
				<Sebestoimost client:load />
			) : title == 'Калькулятор смешивания спиртов' ? (
				<SmeshSpirt client:load />
			) : title == 'Калькулятор спирта от температуры' ? (
				<Temperature client:load />
			) : title == 'Калькулятор водки из спирта' ? (
				<VodkaCalc client:load />
			) : title == 'Калькулятор замены сахара декстрозой' ? (
				<Zamena client:load />
			) : (
				<p>Калькулятор не найден</p>
			)
		}

		<p>Нужно исправить расчет:</p>
		<ul>
			<li>RazbavleniyaSamogona</li>
			<li>PoslePervoj</li>
			<li>OtborGolov</li>
			<li>DrobnayaPeregonka</li>
		</ul>
	</div>
	<article class='min-w-ful md:py-4 sm:max-w-none md:max-w-none'>
		<div>
			<slot />
		</div>
	</article>
</BaseLayout>
