---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout'
import Hero from '@/components/Hero'
import { ViewTransitions } from 'astro:transitions'
import KalkulyatorZamenySaharaGlyukozoj from '../components/calc/KalkulyatorZamenySaharaGlyukozoj'

type Props = {
	id: CollectionEntry<'calcs'>['id']
	data: CollectionEntry<'calcs'>['data']
}

const { data, id } = Astro.props
const { title, description, heroImage, pretext } = data
---

<BaseLayout title={title} description={description} image={heroImage?.src}>
	<Hero headImg={heroImage} titlePage={title} descriptionPage={description} urlSeo={id} />

	<div class='mx-auto max-w-[680px] py-12 text-lg sm:px-6'>
		{pretext}
	</div>

	<!-- <KalkulyatorZamenySaharaGlyukozoj client:load /> -->
	<article class='min-w-ful md:py-4 sm:max-w-none md:max-w-none'>
		<div>
			<slot />
		</div>
	</article>
</BaseLayout>
